---
import BlogList from '../components/BlogList.astro'
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'

const allBlogs = await getCollection('blogs')
const page = Number(Astro.url.searchParams.get('page')) || 1

const blogsPerPage = 6
const start = blogsPerPage * (page - 1)
const end = start + blogsPerPage

const blogs = allBlogs.slice(start, end)
---

<Layout title="Blog 🗒">
	<main class="mx-[10vw] py-[72px] sm:py-[78px]">
		<BlogList blogs={blogs} />
	</main>
</Layout>
