---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Aloha ðŸ–">
	<main>
		<section class="mx-[10vw] grid min-h-screen place-content-center py-16">
			<h1 class="w-full text-center text-[min(120px,11vw)] leading-[1]">
				<span class="italic">Uniqueness of</span>
				<span class="font-extrabold capitalize"> failure.</span>
			</h1>
			<p class="mt-14 max-w-[150px] text-xs sm:text-base place-self-center text-center md:max-w-none md:text-[1vw]">
				I'd love creating something that I like, <br />
				 And than force everyone that I know to like it<br />
				 You are one of them<br />
				<span class="font-extrabold uppercase text-xl sm:text-4xl">
					NOW SCROLL DOWN !!!
				</span>
			</p>
		</section>
		<section
			class="before:animate-spin-slower after:animate-spin-slow relative mx-[10vw] flex min-h-screen items-start leading-[1] before:absolute before:right-1 before:-z-10 before:h-1/2 before:w-3/4 before:rounded-bl-full before:rounded-tr-full before:bg-accent before:blur-3xl after:absolute after:-z-10 after:h-2/3 after:w-2/3 after:rounded-bl-full after:rounded-tr-full after:bg-secondary/80 after:blur-3xl"
		>
			<h1 class="w-full text-left text-[min(120px,11vw)]">
				<span class="italice line-through decoration-secondary">Master</span>
				<span class="italice">piece</span>
			</h1>
		</section>
		<section class="mx-[10vw] flex justify-center text-[min(120px,11vw)] leading-[1]">
			<h1 class="w-full text-left">Reach Me</h1>
		</section>
	</main>
</Layout>
