---
import DarkModeButton from '../components/DarkModeButton.astro'


const links = [
	{ to: '/', name: 'Hm.' },
	{ to: '/blog.html', name: 'Blg.' }
]
---

<nav class="absolute top-0 w-full sm:w-4/5 flex justify-between px-5 py-4 text-content sm:mx-[10vw] z-10">
	{
		links.map((link) => (
			<a class="relative px-3 py-2 sm:text-[20px]" href={link.to}>
				<span>{link.name}</span>
				{link.to === Astro.url.pathname && (
					<div
						class="absolute inset-0 -z-10 rounded-2xl bg-secondary px-3 py-4"
						transition:name="navbar"
					/>
				)}
			</a>
		))
	}
	<DarkModeButton />
</nav>
