---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'
interface Props {
	title: string
}
const author = 'Ichsan Sandy'

const { title } = Astro.props
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | {author}</title>
		<ViewTransitions />
	</head>
	<body class="relative bg-background text-content no-scrollbar">
		<Navbar />
		<div transition:animate="fade" class="">
			<slot />
		</div>
		<Footer />
		<style>
			@tailwind base;
			@tailwind components;
			@tailwind utilities;

			@layer base {
				:root {
					--color-bkg: 210deg 40% 98%;
					--color-content: 217deg 32.6% 17.5%;
					--color-accent1: 288deg 95.8% 90.6%;
					--color-accent2: 168deg 83.8% 78.2%;
				}
				@media (prefers-color-scheme: dark) {
					:root {
						--color-bkg: 217deg 32.6% 17.5%;
						--color-content: 210deg 40% 98%;
						--color-accent1: 288deg 95.8% 60.6%;
						--color-accent2: 168deg 83.8% 48.2%;
					}
				}
				:root[data-theme='dark'] {
					--color-bkg: 217deg 32.6% 17.5%;
					--color-content: 210deg 40% 98%;
					--color-accent1: 288deg 95.8% 60.6%;
					--color-accent2: 168deg 83.8% 48.2%;
				}
				:root[data-theme='cool'] {
					--color-bkg: 217deg 32.6% 57.5%;
					--color-content: 210deg 40% 38%;
					--color-accent1: 288deg 95.8% 80.6%;
					--color-accent2: 168deg 83.8% 48.2%;
				}
			}
		</style>
	</body>
</html>
